.gate-header-wrapper {
  display: flex;
  padding: var(--ds-size-3) var(--ds-size-10);
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px var(--ds-size-2);
  height: 32px;
  flex-wrap: wrap;
  align-self: stretch;
  background: var(--ds-color-background-tinted);
}

.gate-header-title {
  color: var(--ds-color-text-subtle);
  font-family: var(--avinor-font-family-heading, Avinor), sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.18px;
  margin: 0;
}

